body {
    padding-top: 30px;
    font-family: Arial;
    background-color: turquoise;
    width: 500px;
    margin: auto;
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}

#space {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: rgba(1, 1, 99, 0.3);
    color: white;
    width: 389px;
    height: 60px;
}

table {
    margin-top: 10px;
    border: 2px solid;
    border-radius: 5px;
}

td {
    border: 1px solid;
}

#numbers {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 60px;
}

#upgradeLevel {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: lightpink;
    width: 300px;
    height: 50px;
}

body {
    /* margin: 0;
    padding: 0; */
    background-image: url(https://wallpapercave.com/wp/wp7667538.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.container {
    justify-content: center;

}

.img {
    justify-content: center;
}

.zoom {
    transform: scale(1.2);
    /* Change this value for the level of zoom */
}