html {
    background-image: url(https://wallpapercave.com/wp/wp7667538.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 1%; */

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#myButton {
    background: none;
    border: none;
    /* optional */
    padding: 0;
    /* optional */
    margin-top: 80px;
}

img {
    height: 200px;
    width: 230px;
    margin-left: 480px;
    margin-top: 1px;
}

p {
    font-size: 20px;
    margin-left: 70px;
    color: white;
}



#clickcount {
    background-color: rgba(1, 1, 99, 0.3);
    /* darkblue with 30% opacity */
    margin-right: 78%;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

#clickcount p {
    font-size: 20px;
    margin-left: 70px;
    color: white;
}

.container {

    flex: 2;
    background-color: #fafafa;
    overflow-y: auto;
    float: left;
    border-style: dashed;
    border: 1px solid rgb(175, 175, 175);

}

#cookieImg {
    transition: transform 0.3s ease-in-out;
}

.zoom {
    transform: scale(1.2);
    /* Change this value for the level of zoom */
}
/* Add your CSS styles here */
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: riseAndFade 1.5s ease forwards;
    font-size: 24px;
    color: #ffffff;
}

@keyframes riseAndFade {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
}
